<div class="jumbotron" id="PaginaHome">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col">
        <img src="./assets/logo_vivo.png" width="150" height="50" class="d-inline-block" alt="" loading="lazy">
      </div>
      <div class="col-10">
        <h1 class="display-4">Controle de Projetos</h1>
      </div>  
    </div>
     <p class="lead">O Controle de Projetos tem como base conciliar todas as informações dos projetos em um único lugar</p>
  <hr class="my-1">
  <p>Pagina Home do Sistema para Controle de Projetos Vivo</p>  
  </div>
</div>
<div class="container">
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Sistema X</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Ultima atualização xx/xx/xxxx</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Sistema Y</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Ultima atualização xx/xx/xxxx</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Sistema Z</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Ultima atualização xx/xx/xxxx</small></p>
    </div>
  </div>
</div>
</div>